html, body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(251, 245, 241);
}

title{color: blueviolet; 
    text-align: center;}
    
    h1{color: blueviolet; 
    text-align: center;}
        
p{color: blueviolet; 
    text-align: center;}

    ul {
        transform: rotate(180deg);
   }
   ul > li {
        transform: rotate(-180deg);
   }

   .retangulo {
    width: 350px;
    background-color: rgb(219, 193, 242);
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    position: relative;
}

.caixa-texto {
    width: 100%;
    padding: 8px;
    border: 1px solid #edd8f4;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

#nameList {
    list-style-type: none;
    padding: 0;
    font-size: 16px;
    position: absolute;
    width: 100%;
    max-height: 150px;
    overflow-y: auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 10;
    display: none;
    background-color: white;
    text-align: left;
    left: 0;
}

#nameList li {
    padding: 8px;
    cursor: pointer;
}

#nameList li:hover {
    background-color: #ddd;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #6a4f96;
    color: white;
}

.player-img {
    width: 100%;
    height: auto;
    filter: blur(10px); /* Aplica o blur */
    transition: filter 0.3s ease; /* Transição suave quando o blur desaparecer */
}



